<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulaire de Recherche d'Espace</title>
</head>
<body>
<h1>Rechercher un Espace pour un événement</h1>

<form action="/utilisateur/search-results" method="post">
    <label for="capacite">Capacité :</label>
    <input type="number" id="capacite" name="capacite" required>

    <label for="typeEspace">Type d'Espace :</label>
    <input type="text" id="typeEspace" name="typeEspace" required>

    <button type="submit">Rechercher</button>
</form>
</body>
</html>
