<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Détails de l'Espace</title>
</head>
<body>
<h1>Détails de l'Espace</h1>

<div>
    <h1 th:text="${space.nomComplet}">Nom de l'espace</h1>
    <p th:text="${space.adresseComplete}">Adresse</p>
    <p th:text="${space.typeEspace}">Type d'espace</p>
    <p th:text="${space.capacite}">Capacité</p>

    <!-- Parcourir les images -->
    <div th:if="${space.images != null}" th:each="image : ${space.images}">
        <img th:src="'data:image/jpeg;base64,' + ${image.data}" alt="Photo de l'espace" />
    </div>

    <!-- Message si aucune image n'est disponible -->
    <p th:if="${space.images == null || #lists.isEmpty(space.images)}">Aucune image disponible</p>
</div>



<form action="/utilisateur/confirm-request/{id}" method="post">
    <button type="submit">Confirmer la demande</button>
</form>

<a href="/utilisateur/search-form">Retour à la recherche</a>
</body>
</html>
